body {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
	list-style-position: inside;
	padding: 0;
}

li {
	color: #95a1ac; /* Secondary Text color */
	list-style-position: inside;
}

h1 {
	font-size: 1.8em;
}

button {
	margin-bottom: 15px;
}

footer {
	margin-top: auto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

summary {
	cursor: pointer;
	font-weight: bold;
	font-size: 1.17em;
	display: block;
}

details > summary {
	margin-inline: auto;
    text-align: center;
}

#platforms > div {
	display: none;
}

#pageContent {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%
}

.button-grid {
	display: grid;
	gap: 4px;
}

.button-grid button {
	width: 100%;
}

.pictochat-window {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.info {
	margin-bottom: 10px;
	height: auto;
	align-items: center;
}

.info-container {
	height: auto;
}

.info-text {
	height: auto;
}

.info-square {
	overflow: hidden;
}

.brand-stroke {
	text-shadow: 
		-1px -1px 0 rgba(238, 238, 238, 0.5), 
		 1px -1px 0 rgba(238, 238, 238, 0.5), 
		-1px  1px 0 rgba(238, 238, 238, 0.5), 
		 1px  1px 0 rgba(238, 238, 238, 0.5);
}
.brand-stroke a:hover {
	filter: brightness(1.5);
}